<div class="relative h-full w-full max-h-full sm:p-4 md:overflow-auto">
  <form  [formGroup]="githubForm">

    <!-- Section -->
    <div class="w-full">
      <div class="text-xl">Github</div>
      <div class="text-secondary">Configurações de Autenticação Github</div>
    </div>
    <div class="flex flex-col w-full">
      <!-- owner -->
      <div class="w-full my-2">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Owner</mat-label>
          <mat-icon
            class="icon-size-5"
            fontSet="fas" fontIcon="fa-user-tie"
            matPrefix></mat-icon>
          <input
            [formControlName]="'owner'"
            matInput>
        </mat-form-field>
      </div>
      <!-- user -->
      <div class="w-full my-2">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>User</mat-label>
          <mat-icon
            class="icon-size-5"
            fontSet="fas" fontIcon="fa-user"
            matPrefix></mat-icon>
          <input
            [formControlName]="'user'"
            matInput>
        </mat-form-field>
      </div>
      <!-- token -->
      <div class="w-full my-2">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Token</mat-label>
          <mat-icon
            class="icon-size-5"
            fontSet="fas" fontIcon="fa-user-secret"
            matPrefix></mat-icon>
          <input
            [formControlName]="'token'"
            matInput>
        </mat-form-field>
      </div>
      <div class="w-full my-2">
        <mat-form-field class="w-full">
          <mat-label>Manter Resultados Por (Dias)</mat-label>
          <mat-icon
            class="icon-size-5 cursor-pointer"
            fontSet="fas" fontIcon="fa-calendar-xmark"
            matPrefix></mat-icon>
          <input formControlName="daysForKeep" mask="9*" matInput matTooltip="Quantidade de dias que os registros de geração de versão e atualizações serão mantidos. Deixe em branco ou coloque 0 dias se nunca serão apagados">

        </mat-form-field>
      </div>
    </div>


    <div class="absolute bottom-0 right-0 z-50">

      <button
        class="mr-4 mb-4"
        [disabled]="githubForm.invalid"
        (click)="salvar()"
        mat-flat-button
        type="button"
        [color]="'primary'">Salvar
      </button>
    </div>
  </form>

</div>

