<div class="md:absolute inset-0 w-full h-full flex flex-col min-w-0 md:overflow-y-auto">
  <mat-accordion class="headers-align" multi>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="w-full mt-1">
            <div class="text-2xl font-semibold tracking-tight leading-6">Github</div>
            <div class="font-medium tracking-tight text-secondary">Informações gerais da conta Github da organização</div>
          </div>
        </mat-panel-title>

      </mat-expansion-panel-header>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full mt-6 md:mt-4">
        <!-- Runners -->
        <div class="flex flex-col flex-auto p-2 bg-card shadow rounded-2xl overflow-hidden">
          <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Runners</div>
          </div>
          <div class="flex flex-col items-center mt-2">
            <div class="text-4xl font-bold tracking-tight leading-none text-red-500">{{getTotalRunners()}}</div>
            <div class="text-lg font-medium text-red-600 dark:text-red-500">Total</div>
            <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
              <div class="text-md font-medium truncate">Online:</div>
              <div class="ml-1.5 text-lg font-semibold">{{getTotalRunnersStatus('online')}}</div>
            </div>
          </div>
        </div>
        <!-- Members -->
        <div class="flex flex-col flex-auto p-2 bg-card shadow rounded-2xl overflow-hidden">
          <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Membros</div>

          </div>
          <div class="flex flex-col items-center mt-2">
            <div class="text-4xl font-bold tracking-tight leading-none text-amber-500">{{getTotalMembers()}}</div>
            <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Total</div>
            <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
              <div class="text-md font-medium truncate">Administradores:</div>
              <div class="ml-1.5 text-lg font-semibold">{{getTotalMembersStatus('admin')}}</div>
            </div>
          </div>
        </div>
        <!-- Repositories -->
        <div class="flex flex-col flex-auto p-2 bg-card shadow rounded-2xl overflow-hidden">
          <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Repositórios</div>
          </div>
          <div class="flex flex-col items-center mt-2">
            <div class="text-4xl font-bold tracking-tight leading-none text-green-500">{{getTotalRepositories()}}</div>
            <div class="text-lg font-medium text-green-600 dark:text-green-500">Total</div>
            <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
              <div class="text-md font-medium truncate">Habilitados:</div>
              <div class="ml-1.5 text-lg font-semibold">{{getTotalRepositoriesStatus('enabled')}}</div>
            </div>
          </div>
        </div>
        <!--
        <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-2">
          <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Runners</div>

          </div>
          <div class="flex flex-col flex-auto mt-2 h-50">
            <apx-chart
              class="flex flex-auto items-center justify-center w-full h-full"
              [chart]="runnerPieOptions.chart"
              [labels]="runnerPieOptions.labels"
              [plotOptions]="runnerPieOptions.plotOptions"
              [series]="runnerPieOptions.series"></apx-chart>

          </div>
          <div class="mt-4 h-44 overflow-auto pr-2">
            <div class="-my-3 divide-y">
              <ng-container *ngFor="let b of model.gitHub.runners.series | keyvalue: unsorted; let i = index">
                <div class="grid grid-cols-2 py-3">
                  <div class="flex items-center">
                    <div
                      class="flex-0 w-2 h-2 rounded-full"></div>
                    <div class="ml-3 truncate">{{b.key}}</div>
                  </div>

                  <div class="text-right text-secondary">{{b.value}}</div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        !-->
        <!-- Members -->

        <!--
        <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-2">
          <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Membros</div>

          </div>
          <div class="flex flex-col flex-auto mt-2 h-50">
            <apx-chart
              class="flex flex-auto items-center justify-center w-full h-full"
              [chart]="memberPieOptions.chart"
              [labels]="memberPieOptions.labels"
              [plotOptions]="memberPieOptions.plotOptions"
              [series]="memberPieOptions.series"></apx-chart>

          </div>
          <div class="mt-4 h-44 overflow-auto pr-2">
            <div class="-my-3 divide-y">
              <ng-container *ngFor="let b of model.gitHub.members.series | keyvalue: unsorted; let i = index">
                <div class="grid grid-cols-2 py-3">
                  <div class="flex items-center">
                    <div
                      class="flex-0 w-2 h-2 rounded-full"></div>
                    <div class="ml-3 truncate">{{b.key}}</div>
                  </div>

                  <div class="text-right text-secondary">{{b.value}}</div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        !-->
        <!-- Repositories -->
        <!--
        <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-2">
          <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Repositórios</div>

          </div>
          <div class="flex flex-col flex-auto mt-2 h-50">
            <apx-chart
              class="flex flex-auto items-center justify-center w-full h-full"
              [chart]="repositoryPieOptions.chart"
              [labels]="repositoryPieOptions.labels"
              [plotOptions]="repositoryPieOptions.plotOptions"
              [series]="repositoryPieOptions.series"></apx-chart>

          </div>
          <div class="mt-4 h-44 overflow-auto pr-2">
            <div class="-my-3 divide-y">
              <ng-container *ngFor="let b of model.gitHub.repositories.series | keyvalue: unsorted; let i = index">
                <div class="grid grid-cols-2 py-3">
                  <div class="flex items-center">
                    <div
                      class="flex-0 w-2 h-2 rounded-full"></div>
                    <div class="ml-3 truncate">{{b.key}}</div>
                  </div>

                  <div class="text-right text-secondary">{{b.value}}</div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        !-->
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="w-full mt-1">
            <div class="text-2xl font-semibold tracking-tight leading-6">Commit</div>
            <div class="font-medium tracking-tight text-secondary">Dados dos commits por produto nos últimos {{getCommitGithubDays()}} dias (incluindo subprodutos)</div>
          </div>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div class="grid grid-cols-1 w-full mt-6 md:mt-4">
        <!-- Commits -->
        <div class="fsm:col-span-2 lg:col-span-3 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-2">
          <div class="flex flex-col flex-auto h-80">
            <apx-chart #commitLineChart
                       class="flex-auto w-full h-full"
                       [theme]="commitLineOptions?.theme"
                       [chart]="commitLineOptions?.chart"
                       [dataLabels]="commitLineOptions?.dataLabels"
                       [labels]="commitLineOptions?.labels"
                       [plotOptions]="commitLineOptions?.plotOptions"
                       [series]="commitLineOptions?.series"
                       [legend]="commitLineOptions?.legend"
                       [tooltip]="commitLineOptions?.tooltip"
                       [stroke]="commitLineOptions?.stroke"
                       [markers]="commitLineOptions?.markers"
                       [yaxis]="commitLineOptions?.yaxis"
                       [xaxis]="commitLineOptions?.xaxis"></apx-chart>
          </div>

        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="w-full mt-1">
            <div class="text-2xl font-semibold tracking-tight leading-6">Colaboradores</div>
            <div class="font-medium tracking-tight text-secondary">Membros que fizeram commits nos últimos {{getCommitGithubDays()}} dias (incluindo subprodutos)</div>
          </div>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full mt-6 md:mt-4">
        <ng-container *ngFor="let b of model.gitHub.mainCommiters | keyvalue: unsorted">
          <!-- Commiters -->
          <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-2">
            <div class="flex items-start justify-between">
              <div class="text-lg font-medium tracking-tight leading-6 truncate">{{getProductFromId(b.key)}}</div>

            </div>
            <div class="flex flex-col flex-auto mt-2 h-50">
              <apx-chart
                class="flex flex-auto items-center justify-center w-full h-full"
                [theme]="commiterPieOptions[b.key].theme"
                [chart]="commiterPieOptions[b.key].chart"
                [labels]="commiterPieOptions[b.key].labels"
                [plotOptions]="commiterPieOptions[b.key].plotOptions"
                [series]="commiterPieOptions[b.key].series"></apx-chart>

            </div>
            <div class="mt-4 h-44 overflow-auto pr-2">
              <div class="-my-3 divide-y">
                <ng-container *ngFor="let c of model.gitHub.mainCommiters[b.key].series | keyvalue: unsorted; let i = index">
                  <div class="grid grid-cols-3 py-3">
                    <div class="flex items-center col-span-2">
                      <div
                        class="flex-0 w-2 h-2 rounded-full"></div>
                      <div class="ml-3 truncate">{{c.key}}</div>
                    </div>

                    <div class="text-right text-secondary">{{c.value}}</div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="w-full mt-1">
            <div class="text-2xl font-semibold tracking-tight leading-6">CI/CD</div>
            <div class="font-medium tracking-tight text-secondary">Resultados do CI/CD por produto/branch nos últimos {{getCICDDays()}} dias (incluindo subprodutos)</div>
          </div>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div class="grid grid-cols-1 w-full mt-6 md:mt-4">
        <mat-radio-group #cicdRadio (change)="cicdRadioChanged($event)" class="my-2" [(ngModel)]="currentCICDChart">
          <ng-container *ngFor="let c of cicdKeys; let i = index">
            <mat-radio-button class="mx-2" value="{{c}}">{{c}}</mat-radio-button>
          </ng-container>
        </mat-radio-group>
        <!-- CICD -->
        <div *ngIf="currentCICDChart" class="fsm:col-span-2 lg:col-span-3 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-2">
          <div class="flex flex-col flex-auto h-80">
            <apx-chart
                       class="flex-auto w-full h-full"
                       [theme]="cicdStackedBarOptions[currentCICDChart].theme"
                       [chart]="cicdStackedBarOptions[currentCICDChart].chart"
                       [dataLabels]="cicdStackedBarOptions[currentCICDChart].dataLabels"
                       [labels]="cicdStackedBarOptions[currentCICDChart].labels"
                       [plotOptions]="cicdStackedBarOptions[currentCICDChart].plotOptions"
                       [series]="cicdStackedBarOptions[currentCICDChart].series"
                       [legend]="cicdStackedBarOptions[currentCICDChart].legend"
                       [tooltip]="cicdStackedBarOptions[currentCICDChart].tooltip"
                       [stroke]="cicdStackedBarOptions[currentCICDChart].stroke"
                       [markers]="cicdStackedBarOptions[currentCICDChart].markers"
                       [yaxis]="cicdStackedBarOptions[currentCICDChart].yaxis"
                       [xaxis]="cicdStackedBarOptions[currentCICDChart].xaxis"></apx-chart>
          </div>

        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="w-full mt-1">
            <div class="text-2xl font-semibold tracking-tight leading-6">Ambientes</div>
            <div class="font-medium tracking-tight text-secondary">Builds usadas nos ambientes</div>
          </div>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full mt-6 md:mt-4">
        <ng-container *ngFor="let b of model.beansCountAmbiente | keyvalue: unsorted">
          <!-- Ambientes -->
          <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-2">
            <div class="flex items-start justify-between">
              <div class="text-lg font-medium tracking-tight leading-6 truncate">{{getProductFromId(b.key)}}</div>

            </div>
            <div class="flex flex-col flex-auto mt-2 h-50">
              <apx-chart
                class="flex flex-auto items-center justify-center w-full h-full"
                [theme]="ambientePieOptions[b.key].theme"
                [chart]="ambientePieOptions[b.key].chart"
                [labels]="ambientePieOptions[b.key].labels"
                [plotOptions]="ambientePieOptions[b.key].plotOptions"
                [series]="ambientePieOptions[b.key].series"></apx-chart>

            </div>
            <div class="mt-4 h-44 overflow-auto pr-2">
              <div class="-my-3 divide-y">
                <ng-container *ngFor="let c of model.beansCountAmbiente[b.key].series | keyvalue: unsorted; let i = index">
                  <div class="grid grid-cols-3 py-3">
                    <div class="flex items-center col-span-2">
                      <div
                        class="flex-0 w-2 h-2 rounded-full"></div>
                      <div class="ml-3 truncate">{{c.key}}</div>
                    </div>

                    <div class="text-right text-secondary">{{c.value}}</div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="w-full mt-1">
            <div class="text-2xl font-semibold tracking-tight leading-6">Geração de Versão</div>
            <div class="font-medium tracking-tight text-secondary">Status das Gerações de Versão nos últimos {{getBeanDays()}} dias</div>
          </div>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full mt-6 md:mt-4">
        <ng-container *ngFor="let b of model.beansCountGeracaoVersao | keyvalue: unsorted">
          <!-- Geração Versão -->
          <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-2">
            <div class="flex items-start justify-between">
              <div class="text-lg font-medium tracking-tight leading-6 truncate">{{getProductFromId(b.key)}}</div>

            </div>
            <div class="flex flex-col flex-auto mt-2 h-50">
              <apx-chart
                class="flex flex-auto items-center justify-center w-full h-full"
                [theme]="geracaoVersaoPieOptions[b.key].theme"
                [chart]="geracaoVersaoPieOptions[b.key].chart"
                [labels]="geracaoVersaoPieOptions[b.key].labels"
                [plotOptions]="geracaoVersaoPieOptions[b.key].plotOptions"
                [series]="geracaoVersaoPieOptions[b.key].series"></apx-chart>

            </div>
            <div class="mt-4 h-44 overflow-auto pr-2">
              <div class="-my-3 divide-y">
                <ng-container *ngFor="let c of model.beansCountGeracaoVersao[b.key].series | keyvalue: unsorted; let i = index">
                  <div class="grid grid-cols-3 py-3">
                    <div class="flex items-center col-span-2">
                      <div
                        class="flex-0 w-2 h-2 rounded-full"></div>
                      <div class="ml-3 truncate">{{c.key}}</div>
                    </div>

                    <div class="text-right text-secondary">{{c.value}}</div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="w-full mt-1">
            <div class="text-2xl font-semibold tracking-tight leading-6">Atualização de Versão</div>
            <div class="font-medium tracking-tight text-secondary">Status das Atualizações de Versão nos últimos {{getBeanDays()}} dias</div>
          </div>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full mt-6 md:mt-4">
        <ng-container *ngFor="let b of model.beansCountAtualizazaoVersao | keyvalue: unsorted">
          <!-- Atualização Versão -->
          <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-2">
            <div class="flex items-start justify-between">
              <div class="text-lg font-medium tracking-tight leading-6 truncate">{{getProductFromId(b.key)}}</div>

            </div>
            <div class="flex flex-col flex-auto mt-2 h-50">
              <apx-chart
                class="flex flex-auto items-center justify-center w-full h-full"
                [theme]="atualizacaoVersaoPieOptions[b.key].theme"
                [chart]="atualizacaoVersaoPieOptions[b.key].chart"
                [labels]="atualizacaoVersaoPieOptions[b.key].labels"
                [plotOptions]="atualizacaoVersaoPieOptions[b.key].plotOptions"
                [series]="atualizacaoVersaoPieOptions[b.key].series"></apx-chart>

            </div>
            <div class="mt-4 h-44 overflow-auto pr-2">
              <div class="-my-3 divide-y">
                <ng-container *ngFor="let c of model.beansCountAtualizazaoVersao[b.key].series | keyvalue: unsorted; let i = index">
                  <div class="grid grid-cols-3 py-3">
                    <div class="flex items-center col-span-2">
                      <div
                        class="flex-0 w-2 h-2 rounded-full"></div>
                      <div class="ml-3 truncate">{{c.key}}</div>
                    </div>

                    <div class="text-right text-secondary">{{c.value}}</div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="w-full mt-1">
            <div class="text-2xl font-semibold tracking-tight leading-6">Utilização das Branches</div>
            <div class="font-medium tracking-tight text-secondary">Situação de utilização das branches nos ambientes</div>
          </div>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full mt-6 md:mt-4">
        <ng-container *ngFor="let b of model.beansCountBranch | keyvalue: unsorted">
          <!-- Branches -->
          <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-2">
            <div class="flex items-start justify-between">
              <div class="text-lg font-medium tracking-tight leading-6 truncate">{{getProductFromId(b.key)}}</div>

            </div>
            <div class="flex flex-col flex-auto mt-2 h-50">
              <apx-chart
                class="flex flex-auto items-center justify-center w-full h-full"
                [theme]="branchPieOptions[b.key].theme"
                [chart]="branchPieOptions[b.key].chart"
                [labels]="branchPieOptions[b.key].labels"
                [plotOptions]="branchPieOptions[b.key].plotOptions"
                [series]="branchPieOptions[b.key].series"></apx-chart>

            </div>
            <div class="mt-4 h-44 overflow-auto pr-2">
              <div class="-my-3 divide-y">
                <ng-container *ngFor="let c of model.beansCountBranch[b.key].series | keyvalue: unsorted; let i = index">
                  <div class="grid grid-cols-3 py-3">
                    <div class="flex items-center col-span-2">
                      <div
                        class="flex-0 w-2 h-2 rounded-full"></div>
                      <div class="ml-3 truncate">{{c.key}}</div>
                    </div>

                    <div class="text-right text-secondary">{{c.value}}</div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
