<admin-container [title]="'Relação dos Repositórios da Organização no Github'"
                 [showRightMenu]="false"
                 [rightMenuMode]="drawerMode"
                 [rightMenuOpened]="drawerOpened"
                 [rightMenuClass]="'w-72 dark:bg-gray-900'"
                 [rightMenuButtonIcon]="'fa-search'"
                 [rightMenuButtonClass]="''"
                 class="w-full">

  <div class="h-full max-h-full overflow-x-auto md:overflow-auto">
    <repository-table #table
                  (onRefreshClicked)="refresh()"
                  [dataSource]="dataSource"></repository-table>

  </div>
</admin-container>
