<div class="inset-0 w-full h-full flex flex-col min-w-0 md:overflow-y-auto relative">
  <!-- Header -->
  <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-2 sm:py-4 sm:px-4 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <!-- Title -->
      <div class="flex flex-row flex-row-reverse mt-2 items-center">
        <div class="mr-2">
          <button
            mat-icon-button aria-label="close dialog" mat-dialog-close>
            <mat-icon
              class="icon-size-4"
              fontSet="fas" fontIcon="fa-times"></mat-icon>
          </button>
        </div>
        <div class="w-full">
          <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
            {{title}}
          </h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div
    class="flex-auto overflow-y-auto p-6"
    cdkScrollable>

    <div class="divide-y-2 divide-black h-full max-h-full max-w-full overflow-x-auto md:overflow-auto">


      <div class="grid sm:grid-cols-12 gap-2 w-full">

        <div class="sm:col-span-6">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>Branch</mat-label>
            <mat-icon
              class="icon-size-3"
              fontSet="fas" fontIcon="fa-code-commit"
              matPrefix></mat-icon>

            <mat-select [formControl]="formSave.get('branch')">
              <ng-container *ngFor="let b of branches">
                <mat-option [value]="b">
                  {{b}}
                </mat-option>
              </ng-container>

            </mat-select>
          </mat-form-field>
        </div>

        <ng-container *ngFor="let m of getProductModules().controls">
          <div class="border border-gray-300 sm:col-span-12 grid sm:grid-cols-12 gap-2 py-1">
            <div class="sm:col-span-3 flex text-primary font-bold ml-4 items-center">
              <mat-label>
                {{m.get('productTitle').value}}
              </mat-label>
            </div>
            <div class="sm:col-span-3 flex justify-center items-center">
              <mat-slide-toggle
                [formControl]="m.get('enabled')"
                [color]="'primary'">
                Habilitado
              </mat-slide-toggle>
            </div>
            <div class="sm:col-span-3 flex justify-center items-center">
              <mat-slide-toggle
                [formControl]="m.get('includeTests')"
                [color]="'primary'">
                Incluir Testes
              </mat-slide-toggle>
            </div>
            <div class="sm:col-span-3 flex justify-center items-center">
              <mat-slide-toggle
                matTooltip="Quando setado, irá forçar a integração, independentemente se houve ou não alteração no repositório com relação à ultima integração realizada"
                [formControl]="m.get('ignoreHashCommit')"
                [color]="'primary'">
                Ignorar Hash Commit
              </mat-slide-toggle>
            </div>
          </div>

        </ng-container>
      </div>


    </div>
    <div class="absolute bottom-0 right-0 z-50">

      <button
        class="mr-4 mb-4"
        [disabled]="formSave.invalid"
        (click)="doSaving()"
        mat-flat-button
        type="button"
        [color]="'primary'">Gerar Integração CI/CD
      </button>
    </div>
  </div>

</div>
