<admin-container [title]="title"
                 [showRightMenu]="true"
                 [rightMenuMode]="drawerMode"
                 [rightMenuOpened]="drawerOpened"
                 [rightMenuClass]="'w-72 dark:bg-gray-900'"
                 [rightMenuButtonIcon]="'fa-search'"
                 [rightMenuButtonClass]="''"
                 class="w-full">
  <div rightMenu class="flex items-center justify-between m-3 sm:my-6">
    <geracao-versao-filter #filtro></geracao-versao-filter>

  </div>
  <div class="h-full max-h-full overflow-x-auto md:overflow-hidden md:flex md:flex-col">
    <geracao-versao-table class="md:flex-1 md:overflow-hidden md:flex md:flex-col" [multiple]="true"></geracao-versao-table>

  </div>
</admin-container>
