:host {
  width: 100% !important;
  height: 100% !important;
}
.geracao-versao-modal-container {
  max-width: 70vw !important;
  width: 70vw !important;
  max-height: 90vh !important;
  height: 90vh !important;

  mat-dialog-container {
    padding: 10px !important;
  }
  .readOnly {
    pointer-events: none;
    opacity: 60%;
  }
}

.module-card {
  border-color: rgba(0, 0, 0, 0.12);

  :host-context(.dark) & {
    border-color: rgba(255, 255, 255, 0.12);
  }
}
