<admin-container [title]="title"
                 [showRightMenu]="false"
                 [rightMenuMode]="drawerMode"
                 [rightMenuOpened]="drawerOpened"
                 [rightMenuClass]="'w-72 dark:bg-gray-900'"
                 [rightMenuButtonIcon]="'fa-search'"
                 [rightMenuButtonClass]="''"
                 class="w-full">
  <div class="h-full max-h-full overflow-x-auto md:overflow-hidden md:flex md:flex-col">
    <health-checker-table class="md:flex-1 md:overflow-hidden md:flex md:flex-col"></health-checker-table>

  </div>
</admin-container>
