<admin-container [title]="'Relação dos Runners Github'"
                 [showRightMenu]="false"
                 [rightMenuMode]="drawerMode"
                 [rightMenuOpened]="drawerOpened"
                 [rightMenuClass]="'w-72 dark:bg-gray-900'"
                 [rightMenuButtonIcon]="'fa-search'"
                 [rightMenuButtonClass]="''"
                 class="w-full">

  <div class="h-full max-h-full overflow-x-auto md:overflow-hidden md:flex md:flex-col">
    <runner-table class="md:flex-1 md:overflow-hidden md:flex md:flex-col" #table
                  (onRefreshClicked)="refresh()"
                  [dataSource]="dataSource"></runner-table>

  </div>
</admin-container>
