<div class="inset-0 w-full h-full flex flex-col min-w-0 md:overflow-y-auto relative">
  <!-- Header -->
  <div class="flex-none flex items-center justify-between px-4 py-2 border-b dark:border-gray-700 bg-card dark:bg-transparent">
    <h2 class="text-xl font-bold tracking-tight truncate">{{title}}</h2>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close class="flex-shrink-0 -mr-1 scale-75">
      <mat-icon class="icon-size-4 text-action" fontSet="fas" fontIcon="fa-times"></mat-icon>
    </button>
  </div>

  <!-- Main -->
  <div
    class="flex-auto overflow-y-auto px-4 py-2"
    cdkScrollable>

    <div class="divide-y-2 divide-black h-full max-h-full max-w-full overflow-x-auto md:overflow-hidden md:flex md:flex-col">

      <repository-table class="md:flex-1 md:overflow-hidden md:flex md:flex-col" #table showActionsButtons="false" (onDoubleClicked)="selectedRepository($event)"
                        [dataSource]="dataSource"></repository-table>

    </div>

    <div class="absolute bottom-0 right-0 z-50">

      <button
        class="mr-4 mb-4"

        mat-flat-button
        type="button"
        [color]="'primary'">Salvar
      </button>
    </div>
  </div>
</div>
