<form [formGroup]="accountForm">

  <!-- Section -->
  <div class="w-full">
    <div class="text-xl">Informações Pessoais</div>
    <div class="text-secondary">Dados pessoais do usuário</div>
  </div>
  <div class="grid sm:grid-cols-4 gap-2 mt-4 mx-1">
    <div class="sm:col-span-4">
      <div class="rounded-full max-w-max flex flex-col">
        <img
          (click)="fileInput.click()"
          class="w-32 h-32 rounded-full ring-4 ring-bg-card cursor-pointer"
          [src]="model.image" (error)="clearImage()">
        <div class="flex justify-center">
          <mat-slide-toggle
            id="ativo"
            class="mt-2"
            [color]="'primary'"
            [formControlName]="'enabled'">
            Ativo
          </mat-slide-toggle>
        </div>
      </div>
      <input hidden (change)="handleUpload($event)" #fileInput type="file" id="file" accept="image/*">
    </div>
    <!-- ID -->
    <div class="sm:col-span-2">
      <mat-form-field class="fuse-mat-no-subscript w-full">
        <mat-label>ID</mat-label>
        <mat-icon
          class="icon-size-5"
          fontSet="fas" fontIcon="fa-list-ol"
          matPrefix></mat-icon>
        <input
          readonly
          [formControlName]="'id'"
          matInput>
      </mat-form-field>
    </div>
    <!-- Perfil -->
    <div class="sm:col-span-2">
      <mat-form-field class="fuse-mat-no-subscript w-full">
        <mat-label>Perfil</mat-label>
        <mat-icon
          class="icon-size-5"
          fontSet="fas" fontIcon="fa-user-tag"
          matPrefix></mat-icon>
        <mat-select
          [required]="true"
          [formControlName]="'profile'">
          <mat-option [value]="null">

          </mat-option>
          <ng-container *ngFor="let t of PerfilUsuarioEnum | enumArray">
            <mat-option *userAuthority="{biggerEqualThan: t.key}" [value]="t.key">
              {{t.key}}
            </mat-option>
          </ng-container>

        </mat-select>
      </mat-form-field>
    </div>
    <!-- Nome -->
    <div class="sm:col-span-4">
      <mat-form-field class="fuse-mat-no-subscript w-full">
        <mat-label>Nome</mat-label>
        <mat-icon
          class="icon-size-5"
          fontSet="fas" fontIcon="fa-signature"
          matPrefix></mat-icon>
        <input
          [required]="true"
          [formControlName]="'name'"
          matInput>
      </mat-form-field>
    </div>
    <!-- Email -->
    <div class="sm:col-span-4">
      <mat-form-field class="fuse-mat-no-subscript w-full">
        <mat-label>Email</mat-label>
        <mat-icon
          class="icon-size-5"
          fontSet="fas" fontIcon="fa-at"
          matPrefix></mat-icon>
        <input
          [formControlName]="'email'"
          matInput>
      </mat-form-field>
    </div>
    <!-- Login -->
    <div class="sm:col-span-2">
      <mat-form-field class="fuse-mat-no-subscript w-full">
        <mat-label>Login</mat-label>
        <mat-icon
          class="icon-size-5"
          fontSet="fas" fontIcon="fa-sign-in-alt"
          matPrefix></mat-icon>
        <input
          [required]="true"
          [formControlName]="'login'"
          matInput>
      </mat-form-field>
    </div>
    <!-- Senha -->
    <div class="sm:col-span-2">
      <mat-form-field class="fuse-mat-no-subscript w-full">
        <mat-label>Senha</mat-label>
        <mat-icon
          class="icon-size-5"
          fontSet="fas" fontIcon="fa-unlock"
          matPrefix></mat-icon>
        <input
          type="password"
          [formControlName]="'password'"
          matInput #passwordField>
        <button
          mat-icon-button
          type="button"
          (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
          matSuffix>
          <mat-icon
            class="icon-size-5"
            *ngIf="passwordField.type === 'password'"
            fontSet="fas" fontIcon="fa-eye"></mat-icon>
          <mat-icon
            class="icon-size-5"
            *ngIf="passwordField.type === 'text'"
            fontSet="fas" fontIcon="fa-eye-slash"></mat-icon>
        </button>
      </mat-form-field>
    </div>



  </div>


  <!-- Actions -->
  <div class="flex items-center justify-end" *ngIf="showSaveButton">

    <button
      class="ml-4"
      [disabled]="accountForm.invalid"
      (click)="salvar()"
      mat-flat-button
      type="button"
      [color]="'primary'">Salvar
    </button>
  </div>
</form>
