<div class="inset-0 w-full h-full flex flex-col min-w-0 md:overflow-y-auto">
    <mat-drawer-container class="flex-auto h-full">

        <!-- Drawer -->
        <mat-drawer
                class="w-72 dark:bg-gray-900"
                [autoFocus]="false"
                [mode]="drawerMode"
                [opened]="drawerOpened"
                [position]="'end'"
                #matDrawer>
            <div class="w-full h-full p-2">
            <users-list-filter
                    #filtro
                    [model]="preFilter"
                    [defaultFilters]="defaultFilters"
                    (onFilter)="filtrar($event)"></users-list-filter>
            </div>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col overflow-hidden">

            <!-- Header -->
            <div class="flex-none flex items-center justify-between px-4 py-2 border-b dark:border-gray-700 bg-card dark:bg-transparent">
                <h2 class="text-xl font-bold tracking-tight truncate">Pesquisa de Usuários</h2>
                <div class="flex items-center flex-shrink-0">
                    <button
                            mat-icon-button
                            (click)="matDrawer.toggle()"
                            class="scale-75">
                        <mat-icon fontSet="fas" fontIcon="fa-search"></mat-icon>
                    </button>
                    <button mat-icon-button aria-label="close dialog" mat-dialog-close class="flex-shrink-0 -mr-1 scale-75">
                        <mat-icon class="icon-size-4 text-action" fontSet="fas" fontIcon="fa-times"></mat-icon>
                    </button>
                </div>
            </div>

            <!-- Main -->
            <div
                    class="flex-auto overflow-y-auto"
                    cdkScrollable>

                <div class="h-full max-h-full overflow-x-auto md:overflow-auto">
                    <users-list-table
                            #tabela
                            [multiple]="multiple"
                            [showActionsButtons]="showTableButtons"
                            [showFastFilter]="showTableFastFilter"
                            (onRowClicked)="selectData($event)"
                            (onDeleteClicked)="delete ($event)"
                            [dataSource]="dataSource"></users-list-table>
                </div>
                <!-- Actions -->
                <div *ngIf="multiple === true" class="absolute bottom-0 right-0 z-50">

                    <button
                            class="mr-4 mb-4"
                            [disabled]="hasSelected() === false"
                            (click)="selectedMultiple()"
                            mat-flat-button
                            type="button"
                            [color]="'primary'">Salvar
                    </button>
                </div>
            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
