<div class="md:absolute inset-0 w-full h-full flex flex-col min-w-0 md:overflow-y-auto">

    <mat-drawer-container class="flex-auto h-full">

        <!-- Drawer -->
        <mat-drawer *ngIf="showRightMenu === true"
                [ngClass]="rightMenuClass"
                [autoFocus]="false"
                [mode]="rightMenuMode"
                [opened]="rightMenuOpened === true"
                [position]="'end'"
                #matDrawerRight>
            <ng-content select="[rightMenu]"></ng-content>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col overflow-hidden">

            <!-- Header -->
            <div class="flex items-center justify-between px-4 md:px-6 py-2 border-b dark:border-gray-700 bg-card dark:bg-transparent">
                <h2 class="text-xl font-bold tracking-tight truncate">
                    {{title}}
                </h2>

                <div *ngIf="showRightMenu === true" class="flex flex-shrink-0 items-center sm:mr-2" [ngClass]="rightMenuButtonClass">
                    <button
                            mat-icon-button
                            (click)="toggleMatRight()">
                        <mat-icon class="text-xl" fontSet="fas" [fontIcon]="rightMenuButtonIcon"></mat-icon>
                    </button>
                </div>
            </div>

            <!-- Main -->
            <div
                    class="flex-auto overflow-y-auto"
                    cdkScrollable>

                <ng-content></ng-content>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
