<ng-container *ngIf="user">

    <!-- Button -->
    <button
        mat-icon-button
        [matMenuTriggerFor]="userActions">
        <span class="relative">
            <img
                class="w-7 h-7 rounded-full"
                *ngIf="showAvatar && user.image"
                (error)="noImage()"
                [src]="user.image">
            <mat-icon
                class="text-3xl"
                *ngIf="!showAvatar || !user.image"
                fontSet="fas" fontIcon="fa-user-circle"></mat-icon>

        </span>
    </button>

<mat-menu
    [xPosition]="'before'"
    #userActions="matMenu"
    class="user-menu-compact">
    <button mat-menu-item disabled class="!opacity-100">
        <span class="flex flex-col leading-none">
            <span class="text-xs text-secondary">Logado como</span>
            <span class="mt-1 text-sm font-medium">{{user.name}}</span>
        </span>
    </button>
    <mat-divider class="my-1"></mat-divider>
    <button mat-menu-item (click)="navigate('/user-settings')">
        <mat-icon class="icon-size-4 text-action" fontSet="fas" fontIcon="fa-wrench"></mat-icon>
        <span class="text-sm">Configurações</span>
    </button>
    <mat-divider class="my-1"></mat-divider>
    <button
        mat-menu-item
        (click)="signOut()">
        <mat-icon class="icon-size-4 text-action-danger" fontSet="fas" fontIcon="fa-sign-out-alt"></mat-icon>
        <span class="text-sm">Sair</span>
    </button>
</mat-menu>


</ng-container>
