<admin-container [title]="'Relação das instâncias EC2'"
                 [showRightMenu]="false"
                 [rightMenuMode]="drawerMode"
                 [rightMenuOpened]="drawerOpened"
                 [rightMenuClass]="'w-72 dark:bg-gray-900'"
                 [rightMenuButtonIcon]="'fa-search'"
                 [rightMenuButtonClass]="''"
                 class="w-full">

  <div class="h-full max-h-full overflow-x-auto md:overflow-hidden md:flex md:flex-col">
    <mat-tab-group class="mt-4 md:flex-1 md:overflow-hidden md:flex md:flex-col">
      <ng-container *ngFor="let account of dataSource | keyvalue">
        <mat-tab label="{{account.key}}">
          <ec2-table class="md:flex-1 md:overflow-hidden md:flex md:flex-col" #table
                           (onStopClicked)="stop($event, table)"
                           (onStartClicked)="start($event, table)"
                           (onRebootClicked)="reboot($event, table)"
                           (onRefreshClicked)="refresh()"
                           [dataSource]="account.value"></ec2-table>
        </mat-tab>
      </ng-container>

    </mat-tab-group>

  </div>
</admin-container>
