<admin-container [title]="'Relação dos Backups/Restores das instâncias RDS'"
                 [showRightMenu]="true"
                 [rightMenuMode]="drawerMode"
                 [rightMenuOpened]="drawerOpened"
                 [rightMenuClass]="'w-72 dark:bg-gray-900'"
                 [rightMenuButtonIcon]="'fa-search'"
                 [rightMenuButtonClass]="''"
                 class="w-full">
  <div rightMenu class="flex items-center justify-between m-3 sm:my-6">
    <action-rds-filter #filtro
      (onFilter)="filtrar($event)"
    ></action-rds-filter>

  </div>
  <div class="h-full max-h-full overflow-x-auto md:overflow-hidden md:flex md:flex-col">
    <action-rds-table class="md:flex-1 md:overflow-hidden md:flex md:flex-col" #tableDev
                   (onRefreshClicked)="refresh()"
                   [dataSource]="dataSource"></action-rds-table>

  </div>
</admin-container>
